@charset "UTF-8";
:root {
  --mc1:  #21bdb8;
  --mc2:  #280684;
  --wh-opacity: rgba(255,255,255, .3);
  --bsp: 30px;
  --btn-padd: .8rem;
  --logo-font-size: 4rem;
  --logo-text-1: var(--rem-4-light);
  --logo-text-2: var(--rem-4-regular);
  --logo-text-3: var(--rem-4-light);
  --rem-1-light: 300;
  --rem-1-regular: 500;
  --rem-1-bold: 700;
  --rem-2-light: 200;
  --rem-2-regular: 300;
  --rem-2-bold: 600;
  --rem-3-light: 200;
  --rem-3-regular: 300;
  --rem-3-bold: 600;
  --rem-4-light: 100;
  --rem-4-regular: 300;
  --rem-4-bold: 600;
}

/* Normalize style document */
/* This document edit pre-defined CSS style*/
/* © Milan Štiglic*/
html,
body {
  margin: 0;
  padding: 0;
  border: 0;
  border: none;
  scroll-behavior: smooth;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

html {
  font-size: 100%;
}

input:focus,
button:focus {
  outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  -webkit-margin-before: 0;
          margin-block-start: 0;
  -webkit-margin-after: 0;
          margin-block-end: 0;
  -webkit-margin-start: 0;
          margin-inline-start: 0;
  -webkit-margin-end: 0;
          margin-inline-end: 0;
}

.column,
.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.row {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.bs-padd {
  padding: 30px;
}

.bs-padd-r {
  padding-right: 30px;
}

.bs-padd-l {
  padding-left: 30px;
}

.bs-padd-t {
  padding-top: 30px;
}

.bs-padd-b {
  padding-bottom: 30px;
}

.bs-padd-sd {
  padding: 0 30px 0 30px;
}

.justify-right,
.justify-end {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

.justify-left,
.justify-start {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.justify-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.justify-between {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.justify-evenly {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.justify-around {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.justify-stretch {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: stretch;
      -ms-flex-pack: stretch;
          justify-content: stretch;
}

.align-bottom,
.align-end {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.align-top,
.align-start {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.align-between {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: justify;
      align-content: space-between;
}

.align-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.justify-stretch {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.w-100 {
  width: 100%;
}

.b {
  font-weight: bold;
}

.l {
  font-weight: 300;
}

.r {
  font-weight: 500;
}

.ita {
  font-style: italic;
}

body {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body #__root {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: inherit;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.bckg-gradient {
  background-image: radial-gradient(at bottom right, #21bdb8, #280684);
}

.hr-g {
  border: none;
  height: 2px;
  background-color: var(--wh-opacity);
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.hr-w {
  border: none;
  height: 2px;
  background-color: var(--wh-opacity);
  width: 100%;
}

.btn-ui {
  padding: 0.1rem var(--btn-padd);
  border-radius: 100rem;
  background-color: var(--wh-opacity);
}

hr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  unicode-bidi: unset;
  -webkit-margin-before: 0.5em;
          margin-block-start: 0.5em;
  -webkit-margin-after: 0.5em;
          margin-block-end: 0.5em;
  -webkit-margin-start: auto;
          margin-inline-start: auto;
  -webkit-margin-end: auto;
          margin-inline-end: auto;
  overflow: unset;
}

.root-cont {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  padding: var(--bsp);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 1;
}

.tool-tip::after {
  position: absolute;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  background-color: var(--wh-opacity);
  border-radius: 1em;
  padding: 0.5em 1em;
  opacity: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  top: 0;
  white-space: nowrap;
  pointer-events: none;
}

.tool-tip:hover::after {
  top: 40px;
  opacity: 1 !important;
  pointer-events: all;
}

.t-t-delay::after {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.t-t-delay:hover::after {
  -webkit-transition-delay: 0.5s;
          transition-delay: 0.5s;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.05);
  -webkit-transform-origin: 0.3s;
          transform-origin: 0.3s;
  border-radius: 20px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

.ico-hue {
  fill: #ffff;
}

.ico {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.rotate-90__ico {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.rotate-180__ico {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.rotate-270__ico {
  -webkit-transform: rotate(270deg);
          transform: rotate(270deg);
}

.rotate-90__ico,
.rotate-270__ico,
.rotate-180__ico {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.hue-ico {
  display: block;
  width: 40px;
  height: 40px;
  margin-left: 1rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hue-ico:first-child {
  margin-left: 0;
}

.hue-ico:last-child {
  margin-right: 0;
}

.i__ai {
  background-image: url("../../icons/langs-pic/icons8_adobe_illustrator_90px.png");
}

.i__ai::after {
  content: "Illustrator";
}

.i__ps {
  background-image: url("../../icons/langs-pic/icons8_adobe_photoshop_90px.png");
}

.i__ps::after {
  content: "PhotoShop";
}

.i__xd {
  background-image: url("../../icons/langs-pic/icons8_adobe_xd_90px.png");
}

.i__xd::after {
  content: "Experience Design";
}

.i__id {
  background-image: url("../../icons/langs-pic/icons8_adobe_indesign_90px.png");
}

.i__id::after {
  content: "InDesigne";
}

.i__angular {
  background-image: url("../../icons/langs-pic/icons8_angularjs_90px.png");
}

.i__angular::after {
  content: "Angular";
}

.i__bootstrap {
  background-image: url("../../icons/langs-pic/icons8_bootstrap_90px.png");
}

.i__bootstrap::after {
  content: "BootsTrap";
}

.i__css {
  background-image: url("../../icons/langs-pic/icons8_css3_90px.png");
}

.i__css::after {
  content: "CSS";
}

.i__html {
  background-image: url("../../icons/langs-pic/icons8_html_5_90px.png");
}

.i__html::after {
  content: "HTML";
}

.i__js {
  background-image: url("../../icons/langs-pic/icons8_javascript_90px.png");
}

.i__js::after {
  content: "JavaScript";
}

.i__nj {
  background-image: url("../../icons/langs-pic/icons8_nodejs_90px_1.png");
}

.i__nj::after {
  content: "Node JS";
}

.i__py {
  background-image: url("../../icons/langs-pic/icons8_python_90px.png");
}

.i__py::after {
  content: "Python";
}

.i__react {
  background-image: url("../../icons/langs-pic/icons8_react_90px.png");
}

.i__react-native {
  background-image: url("../../icons/langs-pic/icons8_react_90px.png");
}

.i__react-native::after {
  content: "React Native";
}

.i__react::after {
  content: "React";
}

.i__redux {
  background-image: url("../../icons/langs-pic/icons8_redux_90px.png");
}

.i__redux::after {
  content: "Redux";
}

.i__sass {
  background-image: url("../../icons/langs-pic/icons8_sass_90px.png");
}

.i__sass::after {
  content: "SASS/SCSS";
}

.i__svelte {
  background-image: url("../../icons/langs-pic/icons8_svelte_90px.png");
}

.i__svelte::after {
  content: "Svelte";
}

.i__ts {
  background-image: url("../../icons/langs-pic/icons8_typescript_90px.png");
}

.i__ts::after {
  content: "TypeScript";
}

.i__vue {
  background-image: url("../../icons/langs-pic/icons8_vue_js_90px.png");
}

.i__vue::after {
  content: "Vue.js";
}

.click-up {
  -webkit-transition-duration: .3s;
          transition-duration: .3s;
}

.click-up:active {
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transform: scale(0.85);
          transform: scale(0.85);
  opacity: 1 !important;
}

.click-opac {
  -webkit-transition: .3s;
  transition: .3s;
}

.click-opac:hover {
  opacity: .8;
}
