body {
  height: 100vh;
  display: flex;
  #__root {
    display: flex;
    width: 100%;
    height: inherit;
    user-select: none;
  }
}
.bckg-gradient {
  background-image: radial-gradient(at bottom right, $main-color-1, $main-color-2);
}
.hr-g {
  border: none;
  height: 2px;
  background-color: var(--wh-opacity);
  flex-grow: 1;
}
.hr-w {
  border: none;
  height: 2px;
  background-color: var(--wh-opacity);
  width: 100%;
}
.btn-ui {
  padding: 0.1rem var(--btn-padd);
  border-radius: 100rem;
  background-color: var(--wh-opacity);
}
hr {
  display: flex;
  unicode-bidi: unset;
  margin-block-start: 0.5em;
  margin-block-end: 0.5em;
  margin-inline-start: auto;
  margin-inline-end: auto;
  overflow: unset;
}

// Session view styles
.root-cont {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  padding: var(--bsp);
  justify-content: center;
  z-index: 1;
}
.tool-tip {
  &::after {
    position: absolute;
    width: fit-content;
    height: fit-content;
    background-color: var(--wh-opacity);
    border-radius: 1em;
    padding: 0.5em 1em;
    opacity: 0;
    transition: 0.3s;
    top: 0;
    white-space: nowrap;
    pointer-events: none;
  }
  &:hover {
    &::after {
      top: 40px;
      opacity: 1 !important;
      pointer-events: all;
    }
  }
}
.t-t-delay {
  &::after {
    transition: 0.3s;
  }
  &:hover {
    &::after {
      transition-delay: 0.5s;
    }
  }
}
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.05);
  transform-origin: 0.3s;
  border-radius: 20px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background-color: rgba(255, 255, 255, 0.3);
}
